@media (min-width: 750px) {
    .menu {
        display: block;
    }
    .hammenu {
        display: none;
    }
}

@media (max-width: 750px) {
    .menu {
        display: none;
    }
    .hammenu {
        display: block;
    }
    .logo {
        display: none;
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.hammenu {
    overflow: hidden;
    background-color: cadetblue;
    position: sticky;
    top: 0;
}

.hammenu #hammenu-items {
    display: none;
}

.hammenu a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.hamicon-holder {
    display: block;
    position: absolute;
    right: 0;
    top: -6;
    width: 30px;
}

.hamicon {
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
}

.hammenu #hamtitle:hover {
    background-color: #ddd;
    color: black;
}

.menu {
    position: sticky;
    top: 10;
    padding: 10px;
    margin: 10;
    background-color: cadetblue;
    border-radius: 25px;
    color: black;
    height: 25px;
}

.menu ul {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.menu li {
    list-style: none;
    display: inline;
}

.logo {
    width: 100%;
}

main {
    padding: 20px;
}

#content1 {
    text-align: justify;
    padding: 15px;
    background-color: white;
    color: black;
    border-radius: 7px;
    box-shadow: 1px 1px solid black;
}

#content1 ul {
    padding-left: 30px;
}

#more {
    margin: 10 0 0;
    padding: 7px;
    font-size: 20px;
    width: 130px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
}

#content2and3 {
    display: flex;
}

#content2 {
    flex-basis: 100%;
    margin: 5px;
    /* text-align: justify; */
    padding: 15px;
    background-color: rgb(219, 219, 219);
    color: black;
    border-radius: 7px;
    box-shadow: 1px 1px solid black;
}

#content2 ol {
    margin: 10 0 0 30;
}

#content3 {
    flex-basis: 100%;
    margin: 5px;
    /* text-align: justify; */
    padding: 15px;
    background-color: rgb(219, 219, 219);
    color: black;
    border-radius: 7px;
    box-shadow: 1px 1px solid black;
}

#content3 table {
    margin: 10 13 0 3;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

#content3 td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#content3 tr {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.submit {
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 150px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
}

.more:focus {
    outline: none;
}

#login {
    /* width:auto; */
    height: 155px;
    background-color: darkgrey;
}

#input1 {
    font-size: 20px;
    margin-left: 33px;
}

.form-1 {
    display: flex;
    justify-content: center;
}

#loginform {
    padding: 20 0;
}
