
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

table,
td,
th {
    border: 1px solid;
    border-collapse: collapse;
    width: 12%;
    text-align: center;
}

.logo {
    width: 100%;
}

main {
    padding: 20px;
}

.main-1 {
    padding: 30px;
    background-color: white;
    color: black;
    border-radius: 7px;
    box-shadow: 1px 1px solid black;
}

.menu {
    padding: 10px;
    margin: 10;
    background-color: cadetblue;
    border-radius: 25px;
    color: black;
    height: 25px;

}

.menu ul {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.menu li {
    list-style: none;
    display: inline;
}

.main-1 ul {
    padding-left: 30px;
}

.more {
    margin: 20px 0;
    padding: 10px;
    font-size: 20px;
    width: 150px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
}

.submit {
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 150px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
}

.more:focus {
    outline: none;
}

#login {
    /* width:auto; */
    height: 155px;
    background-color: darkgrey;
}

#input1 {
    font-size: 20px;
    margin-left: 33px;
}

.form-1 {
    display: flex;
    justify-content: center;
}

#loginform {
    padding: 20 0;
}
